img {
    height: 500vh;
    width: 150px;
    border: solid 5px red;
    border-radius: 10px;
}

img:hover {
    border: solid 5px blue;
}

h1 {
    position: fixed;
}

h2 {
    text-align: center;
    width: 100px;
    height: 50px;
    border: dashed 5px green;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flex-container {
    display: flex;
    flex-direction: row;
    
}



