.top-nav {
    width: 99%;
    background-color: white;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 1px 16px 23px -8px rgba(0,150,200,0.48);
    -webkit-box-shadow: 1px 16px 23px -8px rgba(0,150,200,0.48);
    -moz-box-shadow: 1px 16px 23px -8px rgba(0,150,200,0.48);
    position: sticky;
    top: 5px;
    border-radius: 20px;
}

body {
    overflow-x: hidden;
}

.yes {
    width: 100%;
}


.img-logo {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav li {
    margin-left: 7px;
    margin-right: 7px;
    padding: 10px;
    list-style: none;
}

.item-nav {
    padding: 10px;
}

.item-nav a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: system-ui;
}

.item-nav a:hover {
    color: rgb(0, 150, 200);
}

.nav-button {
    background-color: white;
    border: 2px solid rgb(0, 150, 200);
    border-radius: 15px;
    margin: 14px;
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: rgb(0, 150, 200);
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-button:hover {
    background-color: rgb(0, 150, 200);
    color: white;
}

.hero-banner {
    background-color: rgb(226, 247, 255);
    height: 700px;
}

.h1-hero {
    margin: 0px;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nemm {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.nemm2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.abotme {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}

.touchy {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 750;
    font-size: large;
    border: 3px solid rgb(0, 150, 200);
    background-color: rgb(0, 150, 200);
    border-radius: 15px;
    height: 50px;
    width: 150px;
}

.touchy:hover {
    background-color: white;
    color: rgb(0, 150, 200);
}

.color-tek {
    color: rgb(0, 150, 200);
    text-decoration: underline;
}

.lefty {
    height: 100%;
    width: 50%;
    float: left;
    padding: 50px;
}

.righty {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 30%;
    float: right;
    padding-right: 50px;
}

.kul-guy {
    width: auto;
    height: 600px;
}

.skillz {
    padding-left: 30px;
    padding-right: 30px;
    content: "";
    clear: both;
    display: table;
}

.col {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.me-skil {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

.kills {
    margin: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kills-item {
    width: 25%;
    height: 200px;
    padding: 20px;
    background-color: rgb(226, 247, 255);
    margin: 10px;
    border-bottom: 4px solid rgb(226, 247, 255);
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.kills-item p {
    font-size: 14px;
}

.kills-item:hover {
    border-bottom: 4px solid rgb(0, 150, 200);
}

.item-img {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px 2px rgba(0,150,200,0.5);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,150,200,0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,150,200,0.5);
}

.about-mi {
    height: 780px;
}

.lefty2 {
    
    height: 100%;
    width: 30%;
    float: left;
    padding: 50px;
}

.lefty2 img {
    width: auto;
    height: 550px;
}

.righty2 {
    padding-top: 15%;
    height: fit-content;
    width: 45%;
    float: right;
}

.rabotme {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin: 0;
}

.rhm {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 545px;
}

.projekk {
    width: 100%;
    height: fit-content;
    content: "";
    clear: both;
    display: table;
}

.lefty3 {
    padding: 50px;
    height: 100%;
    width: 30%;
    float: left;
}

.lefty3 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.lefty3 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

.righty3 {
    display: flex;
    justify-content: right;
    padding: 50px;
    height: 100%;
    width: 30%;
    float: right;
}


.tombolbasket img {
    margin-top: 13px;
    width: 16px;
    height: auto;
}

.tombolbasket a {
    padding-top: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tombolbasket {
    width: fit-content;
    height: 45px;
    padding: 10px;
    background-color: #ea4c89;
    text-align: center;
    border-radius: 15px;
    white-space: nowrap;
}

.tombolbasket:hover {
    background-color: #d83373;
}

.cardeproyeko {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 94%;
}

.procard {
    border-radius: 15px;
    height: 450px;
    width: 350px;
    background-color: white;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.43);
}

.procard img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 220px;
    width: 350px;
}

.yeahhisi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 20px;
    height: 110px;
}

.yeahhisi h2 {
    font-size: 25px;
    font-weight: 900;
}

.yeahhisi p {
    font-weight: 500;
}

.visitbasket img {
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

.visitbasket a {
    padding-top: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.visitbasket a:hover {
    text-decoration: underline;
}

.visitbasket {
    width: fit-content;
    border-bottom: 3px solid ;
    display: flex;
    flex-direction: row;
    padding: 15px;
    white-space: nowrap;
}

.contact {
    margin-top: 150px;
    width: 100%;
}

.contact .pee {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0;
}

.contact h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}

.contact .pee2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-bottom: 45px;
}

.form1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inpuu {
    margin: 3px 10px;
}

.inpuu p {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inpuu input {
    font-size: 16px;
    width: 430px;
    height: 50px;
    border: 1px solid rgb(0, 150, 200);
    border-radius: 10px;
}

.longinput {
    width: fit-content;
    height: fit-content;
}

.longinput select {
    width: 890px;
    height: 55px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid rgb(0, 150, 200);
}

.longinput p {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-form p {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-form {
    width: fit-content;
    height: fit-content;
}

.text-form textarea {
    width: 885px;
    height: 180px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid rgb(0, 150, 200);
}

.checbok {
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

.checbok label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: rgb(98, 98, 98);
}

.submit-form button {
    margin: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid rgb(0, 150, 200);
    background-color: rgb(0, 150, 200);
    border-radius: 10px;
    height: 40px;
    width: 140px;
}

.submit-form button:hover {
    background-color: white;
    color: rgb(0, 150, 200);
}

.footer {
    margin-top: 100px;
    padding: 40px;
    background-color: rgb(226, 247, 255);
}

.footer-top {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.leftyfooter {
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.rightyfooter {
    float: right;
    padding: 10px;
}

.rightyfooter a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin: 5px;

}

.fout {
    font-weight: 760;
}